<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>N_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,178}</string>
                <key>spriteSourceSize</key>
                <string>{176,178}</string>
                <key>textureRect</key>
                <string>{{1,1},{176,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>N_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,178}</string>
                <key>spriteSourceSize</key>
                <string>{176,178}</string>
                <key>textureRect</key>
                <string>{{179,1},{176,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>N_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,178}</string>
                <key>spriteSourceSize</key>
                <string>{176,178}</string>
                <key>textureRect</key>
                <string>{{357,1},{176,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>N_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,178}</string>
                <key>spriteSourceSize</key>
                <string>{176,178}</string>
                <key>textureRect</key>
                <string>{{535,1},{176,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>N_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,178}</string>
                <key>spriteSourceSize</key>
                <string>{176,178}</string>
                <key>textureRect</key>
                <string>{{713,1},{176,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>n_level.png</string>
            <key>size</key>
            <string>{890,180}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd18e6887efbde9d5dd69ae8cb245a47:7b573788075133b85f211e7aae7f4f7f:c8eeddfecda095f56abb0bf6da6fd415$</string>
            <key>textureFileName</key>
            <string>n_level.png</string>
        </dict>
    </dict>
</plist>
