<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>P_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,178}</string>
                <key>spriteSourceSize</key>
                <string>{177,178}</string>
                <key>textureRect</key>
                <string>{{1,1},{177,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>P_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,178}</string>
                <key>spriteSourceSize</key>
                <string>{176,178}</string>
                <key>textureRect</key>
                <string>{{180,1},{176,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>P_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,178}</string>
                <key>spriteSourceSize</key>
                <string>{176,178}</string>
                <key>textureRect</key>
                <string>{{358,1},{176,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>P_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,178}</string>
                <key>spriteSourceSize</key>
                <string>{176,178}</string>
                <key>textureRect</key>
                <string>{{536,1},{176,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>P_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,178}</string>
                <key>spriteSourceSize</key>
                <string>{176,178}</string>
                <key>textureRect</key>
                <string>{{714,1},{176,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>p_level.png</string>
            <key>size</key>
            <string>{891,180}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ac7e462a6fedc64b33ff7c6eb104ffa:20723b8229b2371a16f726338947535b:3e6de666c685f7b63fc86d0a1c53a185$</string>
            <key>textureFileName</key>
            <string>p_level.png</string>
        </dict>
    </dict>
</plist>
